In [1]:
import pandas as pd

In [3]:
#Series erstellen
my_series = pd.Series([10, 20, 30, 40], name="my_series", index=["a", "b", "c", "d"])
var = my_series.values
ind = my_series.index
print(my_series)

a    10
b    20
c    30
d    40
Name: my_series, dtype: int64

In [4]:
#Aus Series ein DataFrame erstellen
data = {"col_a": my_series, "col_b": ["a", "b", "c", "d"]}
my_dataFrame = pd.DataFrame(data)
print(my_dataFrame)

   col_a col_b
a     10     a
b     20     b
c     30     c
d     40     d

In [4]:
#Dictionary wird Spaltenweise in DataFrame umgewandelt (Titel für Spalten sind die einzelnen Keys)
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 25],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'New York'],
    'Salary': [70000, 80000, 90000, 100000, 75000]
}

In [5]:
# Liste aus Listen wird Zeilenweise in DataFrame umgewandelt
data = [
    ['Alice', 25, 70000],
    ['Bob', 30, 80000],
    ['Charlie', 35, 90000],
    ['David', 40, 100000],
    ['Eve', 25, 75000]
]

In [6]:
#Deshalb müssen wir die Spaltennamen hinzufügen
column_names = ["Names", "Age", "Salary"]

df = pd.DataFrame(data, columns=column_names, index=[0, 1, 2, 3, 4])

In [7]:
#Neue Spalte mit gleichem Wert oder veränderten Wert in DataFrame einfügen
df["Country"] = "USA"

df["Age_in_5_years"] = df["Age"] + 5

In [8]:
#DataFrame sortieren
df_sorted = df.sort_values(by=["Age", "Salary"], ascending=[True, False])

In [9]:
#Nur bestimmte Spalten von DataFrame ausgeben (1 Spalte wäre ein Series)
names = df[["Names", "Age"]]

In [10]:
#Neue Spalte mit definerten Werte in DataFrame einfügen
df["City"] = ["New York", "LA", "Chicago", "Houston", "LA"]

In [22]:
#Zählen wie oft ein Wert der Spalte in DataFrame vorkommt
num = df["City"].value_counts(normalize=True) #normalize = True -> relative Häufigkeit (prozentual)
print(num)

City
LA          0.4
New York    0.2
Chicago     0.2
Houston     0.2
Name: proportion, dtype: float64

In [12]:
#Normalen Filter setzen
age_filter = df["Age"] > 30
old_people = df[age_filter]

ny_and_highsalary = df[(df["City"] == " New York") & (df["Salary"] > 70000)]

In [13]:
#Mit isin-Umkehr-Operation
selected_cities = ["New York", "Houston"]
not_in_cities = df[~df["City"].isin(selected_cities)] # Gibt DF zurück mit allen Cities die nicht vorkamen
print(not_in_cities)

     Names  Age  Salary Country  Age_in_5_years     City
1      Bob   30   80000     USA              35       LA
2  Charlie   35   90000     USA              40  Chicago
4      Eve   25   75000     USA              30       LA

In [14]:
#Mit Query Filter setzen
old_people_query = df.query("City == 'New York' and Salary > 70000")

In [17]:
#LOC: Mit Index-Zeile und Label-Spalte einen bestimmten Wert holen
single_cell = df.loc[1, "Names"]
rows_and_cols = df.loc[1:3, ['Names', 'Age']]

print(single_cell)
print(rows_and_cols)

Bob
     Names  Age
1      Bob   30
2  Charlie   35
3    David   40

In [19]:
#ILOC: Mit Index-Zeile und Index-Spalte einen bestimmten Wert holen
single_cell_iloc = df.iloc[0, 0]
all_rows_some_cols = df.iloc[:, [0, 2]]

print(single_cell_iloc)
print(all_rows_some_cols)

Alice
     Names  Salary
0    Alice   70000
1      Bob   80000
2  Charlie   90000
3    David  100000
4      Eve   75000

In [21]:
# Statistische Berechnungen
salaries = df["Salary"]
print("Total Salary:", salaries.sum())
print("Average Salary:", salaries.mean())
print("Minimum Salary", salaries.min())
print("Maximum Salary", salaries.max())
print("Median Salary", salaries.median())
print("Salaray Standard Deviation:", salaries.std())

Total Salary: 415000
Average Salary: 83000.0
Minimum Salary 70000
Maximum Salary 100000
Median Salary 80000.0
Salaray Standard Deviation: 12041.594578792296

In [20]:
#GroupBy-Funktionen
avg_salary_by_city = df.groupby("City")["Salary"].mean()
people_by_city = df.groupby("City")["Names"].count()

In [21]:
#Mit Anwendung von Funktionen
grouping = df.groupby("Age").agg({
    "Age": "count",
    "Salary": ["min", "max", "mean"]
})

grouping

      Age  Salary
    count     min     max      mean
Age
25      2   70000   75000   72500.0
30      1   80000   80000   80000.0
35      1   90000   90000   90000.0
40      1  100000  100000  100000.0